{% extends "core/base_bs.html" %}
{% load i18n humanize static auth_tokens  %}

{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="ikwen SARL" >

{#    <meta property="og:image" content="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" />#}
    {% include 'doing/snippets/colors_and_icons.html' %}
    <meta name="apple-mobile-web-app-title" content="Business Challenge" />

    <meta name="abstract" content="{% trans "Contribute to the hatching of Africa's ace of the technological revolution" %}"/>
    <meta name="description" content="{% trans "Turn your multiple skills into a valuable innovative IT projects by submitting your resume" %}"/>

    <meta property="og:title" content="Business Challenge at ikwen - {% trans "Contribute to the hatching of Africa's ace of the technological revolution" %}" />
    <meta property="og:image" content="{% static 'doing/img/meta-doing-logo.jpg' %}" />
    <meta property="og:description" content="{% trans "Turn your multiple skills into a valuable innovative IT projects by submitting your resume" %}" />
    <link rel="manifest" href="{% static 'doing/img/logo.png' %}">
{% endblock %}

{% block head_style %}
    {{ block.super }}
{#    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">#}
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
    <link rel='stylesheet' href="{% static 'website/css/bootstrap-select.min.css' %}" />
    <link rel='stylesheet' href="{% static 'website/css/website.css' %}?V=20.07.27.16.38" />
    <link rel='stylesheet' href="{% static 'website/css/ikwen-website.css' %}?V=20.07.27.16.33" />
    <link href="{% static 'doing/css/doing.css' %}?v=08.10.20-14.3.2/" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sura&display=swap" rel="stylesheet">
    <style>
        .edge-panel-left .wrapper {padding-top: 0}
        *:not(i) {font-family: 'Sura', serif!important;}
        body {background: #F6F6F6;}
        section.address {background-image: url("{% static 'website/img/map.svg' %}"); background-size: 100% auto; color: #080808; font-size: 22px; font-weight: 400;height: 600px; margin-top: 120px;}
        .modal.fade.show {opacity: 1}
        .lead {font-weight: 400}
        .btn.login {background: #233682;color: #FFF;font-weight: 600; width: 100px;}
        .navbar-brand img {height: 50px}
        @media only screen
        and (max-width : 425px) {
            .edge-panel-left {background: #fff; height: 100%; top: 0; width: 85%}
             #bottom-menu {display: none}
        }
    </style>

{% endblock %}

{% block head_js %}
    {{ block.super }}
    <script src="{% static 'website/js/bootstrap-select.min.js' %}"></script>
{% endblock %}



{% block header %}
    {% with collaborates_on=user.collaborates_on %}
        {% url "ikwen:account_setup" as account_setup_url %}
        <nav id="navbar" class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="container-fluid">
                        <i class="glyphicon glyphicon-menu-left back"></i>
                        <div class="menu-button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        {% block header_brand %}
                            <a class="navbar-brand hidden-xs" href="{{ service.url }}">
                                <img src="{% static "doing/img/logo.png" %}" alt="ikwen-logo">
                            </a>
                            <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
                        {% endblock %}
                        {% block site_menu_xs %}
                            <nav class="visible-xs pull-right">
                                <ul id="nav-xs" class="nav navbar-nav navbar-right">
                                    <li class="show-search">
                                        <a href="#">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        {% if collaborates_on|length == 1 %}
                                            <li id="user-apps" class="visible-lg">
                                                <a href="{{ collaborates_on.0.admin_url }}">{{ collaborates_on.0.project_name }}</a>
                                            </li>
                                        {% endif %}
                                        {% if collaborates_on|length >= 1 %}
                                            <li id="user-apps" class="dropdown{% if collaborates_on|length == 1 %} hidden-lg{% endif %}">
                                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-th"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="apps">
                                                    {% for app in collaborates_on %}
                                                        <li><a href="{{ app.admin_url }}">{{ app.project_name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        <li id="user-menu" class="dropdown">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-user"></i>
                                            </a>
                                            <ul class="dropdown-menu has-shade" aria-labelledby="user-menu">
                                                <li class="username" style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                                </li>
                                                {% if user.is_staff %}<li><a href="{% url "ikwen:staff_router" %}">{% trans "Admin" %}</a></li>{% endif %}
                                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'ikwen:sign_in' %}" class="cta">{% trans "Login" %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endblock %}
                    </div>
                </div>
                <div id="navbar-search" class="navbar-form navbar-left">
                    <form id="search" autocomplete="off" onsubmit="return false">
                        <i class="fas fa-chevron-left hide-search visible-xs"></i>
                        <i class="fas fa-search hidden-xs"></i>
                        <input type="text" name="radix" class="form-control input-md" placeholder="{% trans "Search" %}">
                        <input type="hidden" name="q">
                        <span class="spinner" style="display: none"></span>
                    </form>
                    <div id="navbar-results" style="display: none" data-min-search-chars="2">
                        <div class="stage">
                            {% include 'core/snippets/spinner.html' %}
                            <ul style="float: left; padding-left: 0; width: 100%">
                                <li class="ik-li tpl" style="display: none">
                                    <a class="target_url" style="display: block">
                                        <span class="image rounded photo logo bg-img" style="background-image: url({% static 'ikwen/img/no_photo.png' %})"></span>
                                        <div class="info">
                                             <div class='full_name project_name has-faded-edge'></div>
                                            <p class="about short_description minor-tag"></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% block site_menu %}
                    <div id="site-menu" class="collapse navbar-collapse hidden-sm hidden-md hidden-lg">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav navbar-right main-nav" style="margin: 0 -15px 0 0">
                                <li class="inscription visible-lg">
                                    <a href="{% url 'doing:download_guide' %}"> {% trans 'Registration' %}</a>
                                </li>
                                <li class="vote visible-lg">
                                    <a href="{% url 'doing:submit_vote' %}"> {% trans 'Vote' %}</a>
                                </li>
                                <li class="dropdown challenge visible-md visible-lg">
                                    <a href="#">{% trans "Infos" %}</a>
                                </li>
                                 <li class="dropdown partnership visible-md visible-lg">
                                    <a href="{% url 'doing:partnership' %}">{% trans "Partnership" %}</a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li id="user-menu" class="dropdown">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        <ul class="dropdown-menu has-shade" aria-labelledby="user-menu">
                                            <li class="username" style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                            <li role="separator" class="divider"></li>
                                            {% if user.is_staff %}<li><a href="{% url "ikwen:staff_router" %}">{% trans "Admin" %}</a></li>{% endif %}
                                            <li>
                                                <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                            </li>
                                            <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'ikwen:sign_in' %}" class="cta">{% trans "Login" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </nav>
    {% endwith %}
{% endblock %}

{% block content %}
    {% block page_content %} {% endblock %}
    {% include 'website/snippets/edge_panel.html' %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'ikwen/js/ikwen-util.js' %}?v=20.10.30"></script>
    <script>
        (() => {
            $('.navbar .dropdown').hover(function() {
                $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
                }, function() {
                $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
            }).on('click', function (e) {
                e.stopPropagation();
            });

            $(window).scroll(function(e){
            let scrollTop = $(window).scrollTop();
            let docHeight = $(document).height();
            let winHeight = $(window).height();
            let scrollPercent = (scrollTop) / (docHeight - winHeight);
            let scrollPercentRounded = Math.round(scrollPercent*100);
            if (scrollPercentRounded >= 5) {
                $(".navbar").addClass("active");
                $("#navbar-search").addClass("active");
                $('.back-to-top').removeClass('hiding').addClass('showing');
                $('ul.dropdown-menu').addClass('page-scrolled')
            } else {
                $(".navbar").removeClass("active");
                $("#navbar-search").removeClass("active");
                $('.back-to-top').removeClass('showing').addClass('hiding');
                $('ul.dropdown-menu').removeClass('page-scrolled')
            }
            });
            $('.selectpicker').selectpicker();
            $('.flag-icon-en').removeClass('flag-icon-en').addClass('flag-icon-us');
            $('.lang-switcher .dropdown-toggle').addClass('flag-lang-switcher');
            $('.lang-switcher .dropdown-menu').addClass('flag-lang-switcher').css('width', '55px');
        })()
    </script>
{% endblock %}
