{% extends 'website/base.html' %}
{% load i18n humanize static auth_tokens  %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{% blocktrans with company_name=config.company_name %}
        Thanks for submission - Doing - TCHOPETYAMO{% endblocktrans %}" />
{% endblock %}

{% block page_title %}
    <title>{% blocktrans with company_name=config.company_name %}
        Thanks for submission - Careers at ikwen {% endblocktrans %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/uploader-single.css' %}?v=20.8.17" media="screen" rel="stylesheet" type="text/css" />
    <style>
        {#body {background-color: #fff}#}
        body section:first-of-type:not(.photos) {padding-top: 15vh; padding-bottom: 9vh}
        section.thanks {min-height: 400px}
        section.thanks .visit {width: auto; height: 50px; line-height: 35px; display: block; margin-top: 40px}
        section.thanks .apply i {font-size: 18px}
        section.thanks .detail {margin-top: 50px}
        section.thanks form h4 {margin: 40px auto; font-weight: 700}
        footer {margin: 0}
        {#.apply:hover, .apply:active, .apply:focus {background-color: #f28d40; border}#}
    </style>
{% endblock %}

{% block content %}
    <section class="thanks">
        <div class="container">
            <div class="col-sm-6" style="margin: auto; float:none;">
                <h3 style="color: #f28d40">{% trans 'Project submitted !' %}</h3>
                <p>{% trans 'Thanks for submitting your project, you will get notified on your email when the results come out.' %}</p>
                <div class="col-sm-6" style="margin: auto; float:none;">
                    <a href="https://tchopetyamo.com" class="btn btn-sm btn-deep-blue visit" >{% trans 'Visit our services' %}</a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}